! special
*.foreground:   #92dcd2
*.background:   #073038
*.cursorColor:  #92dcd2

! black
*.color0:       #00093f
*.color8:       #709f99

! red
*.color1:       #ee4354
*.color9:       #ee4354

! green
*.color2:       #a2bf98
*.color10:      #a2bf98

! yellow
*.color3:       #dca26c
*.color11:      #dca26c

! blue
*.color4:       #237fad
*.color12:      #237fad

! magenta
*.color5:       #1f90a9
*.color13:      #1f90a9

! cyan
*.color6:       #71869c
*.color14:      #71869c

! white
*.color7:       #92dcd2
*.color15:      #92dcd2

