#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Robo3t
Icon=robomongo
Exec=/home/ujjwal/robo3t-1.2.1/bin/robo3t
Type=Application
Categories=Development;
Terminal=false
StartupNotify=true

Name[en_US]=Robo3t
